/* src/pages/CastingPage.css */
.casting-page {
    font-family: 'Tajawal', sans-serif;
    background-color: black;
    color: #ffffff;
  }
  
  .casting-page.ltr {
    text-align: left;
  }
  
  .casting-page.rtl {
    text-align: right;
  }
  
  .casting-page .hero-image {
    background-image: url('../assets/casting/castinghero.jpg'); /* Ensure the path is correct */
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 0;
  }
  
  .casting-page .hero-image h1, 
  .casting-page .hero-image p {
    font-family: 'Raleway', sans-serif !important; /* Apply Raleway font */
  }
  
 /* src/pages/CastingPage.css */
.casting-page {
    font-family: 'Tajawal', sans-serif;
  }
  
  .casting-page.ltr {
    text-align: left;
  }
  
  .casting-page.rtl {
    text-align: right;
  }
  
  .casting-page .hero-image {
    background-image: url('../assets/casting/castinghero.jpg'); /* Ensure the path is correct */
    background-size: cover;
    background-position: center;
    color: white;
    padding: 200px 0;
  }
  
  .casting-page .hero-image h1, 
  .casting-page .hero-image p {
    font-family: 'Raleway', sans-serif !important; /* Apply Raleway font */
  }
  
  .casting-page.rtl .hero-image h1, 
  .casting-page.rtl .hero-image p {
    font-family: 'Tajawal', sans-serif !important; /* Apply Tajawal font for RTL */
  }
  
  /* Additional styles for form fields to support RTL */
  .casting-page.rtl .form-control {
    text-align: right;
  }
  
  .casting-page.rtl .form-label {
    text-align: right;
  }
  
  
  /* Additional styles for form fields to support RTL */
  .casting-page.rtl .form-control {
    text-align: right;
  }
  
  .casting-page.rtl .form-label {
    text-align: right;
  }
  

  .button{
    background-color: aliceblue;
  }